<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
      <div>Flights: </div>
    </div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div>

    <div>Tickets:</div>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <form method="POST" action="/flights/<%= flight._id %>/tickets">
      <h2>Add Ticket</h2>
      <label for="seat">Seat:</label>
      <input type="text" id="seat" name="seat" required>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" min="0" required>
      <button type="submit">Add Ticket</button>
    </form>

    <a href="/flights">GO BACK</a>
  </section>
</main>

<%- include('../partials/footer') %>
